/* Styles for the header */
header {
  background-color: #232323;
  color: salmon;
  font-family: "Righteous", sans-serif;
  font-size: 100%;
  font-style: italic;
  padding: 2%;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Ensure main takes up the full height of the viewport */
}

/* Styles for the body */
body {
  margin: 0;
  padding: 0;
}

/* Styles for the navigation */
nav { 
  background-color: salmon;
  color: black;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}

/* Styles for the outer container */
.outer-container {
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  height: 20rem;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

/* Styles for the logo container */
.logo-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 80%;
  justify-content: center;
  padding: 1rem;
  width: 80%;
}

/* Styles for the logo */
#logo {
  max-height: 100%;
  max-width: 100%;
}

/* Styles for the righteous regular font */
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Styles for the #displayCityInfo section */
#displayCityInfo {
  margin-top: 2rem; /* Pushes it to the top of the remaining space */
  margin-bottom: 2rem; /* Add some space between #displayCityInfo and footer */
  padding: 0 2rem; /* Adjust padding as needed */
}

#displayCityInfo h2 {
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

#displayCityInfo ul {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  list-style-type: none;
  padding-left: 3%;
  padding-bottom: 10px;
}

#displayCityInfo li {
  margin-bottom: 5px;
}

#displayCityInfo .contact-info {
  color: #888;
}

#displayCityInfo .location {
  font-style: italic;
}

/* Styles for the footer */
/* Styles for the footer */
footer {
  background-color: #b1b1b1;
  color: black;
  padding: 2rem;
  text-align: center;
}
