header {
  background-color: #232323;
  color: salmon;
  font-family: "Righteous", sans-serif;
  padding: 2rem;
  text-align: center;
  font-style: italic;
  font-size: 100%;
}

nav {
  background-color: salmon;
  color: black;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 1rem;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: white;
}


#cookieSales h2 {
  font-family: "Righteous", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: #333;
}

#cookieSales ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 1rem;
  margin: 0;
}

#cookieSales li {
  margin: 0.5rem;
  letter-spacing: 1px;
}

#cookieSalesTable {
  margin: 1rem;
  width: 100%;
  border-collapse: collapse;
}

#cookieSalesTable th {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: grey;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;

}

#cookieSalesTable tr {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: salmon;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;

}


#cookieSalesTable td, th {
  padding: 1rem;
  border: 1px solid black;

}

#cookieSalesTable td.location-name {
  text-align: left;
}

/* Targeting "Hourly Totals" footer row */
#cookieSalesTable tfoot {
  font-weight: bold;
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.8rem;
}

footer {
  margin-top: auto;
  background-color: #b1b1b1;
  color: black;
  text-align: center;
  padding: 2rem;
  width: 100%;
}
