/* Flex item for the header */
header {
  background-color: #232323;
  color: salmon;
  font-family: "Righteous", sans-serif;
  font-size: 100%;
  font-style: italic;
  padding: 2rem;
  text-align: center;
}

/* Flex item for the nav */
nav {
  background-color: salmon;
  color: black;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.5rem;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}

/* Flex container for the main content */
main {
  display: flex;
  justify-content: center;
}

/* Flex item for the cookieSales section */
#cookieSales {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* Styles for the table */
#cookieSalesTable {
  border-collapse: collapse;
  width: 100%;
}

/* Styles for table header */
#cookieSalesTable th {
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.8rem;
  text-align: center;
}

/* Styles for table data cells except the footer cells */
#cookieSalesTable tr td:not(:last-child) {
  background-color: salmon;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1rem;
}

/* Styles for table footer cells only */
#cookieSalesTable tfoot td {
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1rem;
}

/* Targeting the last column for location totals */
#cookieSalesTable td:last-child {
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Styles for the footer */
footer {

  background-color: #b1b1b1;
  color: black;
  margin-top: auto;
  padding: 2rem;
  position: fixed;
  bottom: 0; 
  width: 100%; 
  text-align: center;
  width: 100%;
}
